<style>
h1 {
    font-size: 4em;
    background-color: #00ff00;
    text-align: center;
}

#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}
.center {
  margin: .100em 0;
  font-size: .5em;
  color: #9d9d9d;
}
.text-center {
  text-align: center;
}

</style>