{% extends "base.html" %}

{% block page_content %}
<div class="page-header">
    <h1>Hello, {% if current_user.is_authenticated %}{% if current_user.name %}{{ current_user.name }}{% else %}{{ current_user.email }}<a href="nickname/set">设置您的昵称</a>{% endif %}{% else %}Stranger{% endif %}!</h1>
    {% if current_user.is_authenticated %}
    	{% for post in posts %}
    		<li class="posts">
    			<div>
    				<a href="{{ url_for('.base_profile', name=post.author.name) }}"></a>
    			</div>
    			<div>{{ moment(post.timestamp).fromNow() }}</div>
    			<div>
    				<a href="{{ url_for('.base_profile', name=post.author.name) }}">{{ post.author.name }}</a>
    			</div>
    			<div><a href="{{ url_for('api_v1.0.get_post_by_id', id=post.id) }}">{{ post.title }}</a></div>
    		</li>
    	{% endfor %}
    {% else %}
    {% endif %}
</div>
{% endblock %}

