{% extends "base.html" %}

{% block page_content %}
	<div class="header">
		<h1>Login</h1>
	</div>
	<div class="container">
		<div class="item">
			<form action="" method="post">
				<input type="text" placeholder="please input email" name="email"/><br/>
				<input type="password" placeholder="please input passwd" name="passwd"/><br/>
				<input type="submit" value="Login"/>
			</form>
		</div>
		<a href="/forget">forget password?</a><br/>
		<a href="/register">register</a>
	</div>
	<!-- <div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="row-fluid">
				<div class="span2">
				</div>
				<div class="span6">
					<form class="form-horizontal">
						<div class="control-group">
							 <label class="control-label" for="inputEmail">邮箱</label>
							<div class="controls">
								<input id="inputEmail" type="text" />
							</div>
						</div>
						<div class="control-group">
							 <label class="control-label" for="inputPassword">密码</label>
							<div class="controls">
								<input id="inputPassword" type="password" />
							</div>
						</div>
						<div class="control-group">
							<div class="controls">
								 <label class="checkbox"><input type="checkbox" /> Remember me</label> <button type="submit" class="btn">登陆</button>
							</div>
						</div>
					</form>
				</div>
				<div class="span4">
				</div>
			</div>
		</div>
	</div>
</div>
</div> -->
{% endblock %}

