{% extends "base.html" %}

{% block page_content %}
    <div class="header">
        <h1>更新个人信息</h1>
    </div>
    <div class="container">
        <div class="item">
            <form role="form" action="" method="post" >
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="please input your nickname" name="nickname"/><br/>
                    <input type="submit" value="保存"/>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
